        <button routerLink="/profile/change">prof-change</button>
        <button routerLink="/profile/edite">prof-edite</button>
        <button routerLink="/tariffs/add">tariffs-add</button>
        <button routerLink="/tariffs/list">tariffs-list</button>




<div class="row col-1 justify-content-between">
    <div class="">
        <span>logo</span>
        <input type="search">
    </div>
    <div><button>ثبت نام</button></div>
</div>
<div class="row">
    <div class="col-4">
        <button routerLink="/profile/change">prof-change</button>
        <button routerLink="/profile/edite">prof-edite</button>
        <button routerLink="/tariffs/add">tariffs-add</button>
        <button routerLink="/tariffs/list">tariffs-list</button>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</div>

